#canvas {
  width: 1000px;
  height: 500px;
  margin: 20px 0;
  background: #eee;
}

body {
  font-family: Helvetica;
  font-size: 10px;
}

#stats-battery {
  width: 500px;
}

svg rect {
  stroke: gray;
  stroke-width: 1;
}

#contactInfo {
  background-color: #5BC0DE;
  width: 1000px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

#tpirAbout {
  background-color: #F0AD4E;
  width: 1000px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

#tpirAbout .table {
  background-color: #FFFFFF;
}
